
<div class="drop-into-box__container">
  {{#if soundIsAdded}}
    <div class="drop-into-box__play-container" {{action 'clickNewMix'}}>
      <img src="/images/play-button.png" class="play-button play-button--drop-box">
    </div>
  {{/if}}

  <p>sources:</p>
 {{#each sources as |src|}}
   {{src}}
 {{/each}}
</div>
