@import 'bootstrap';
@import 'spinner';

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
  text-align: center;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}

.page-footer {
  padding: 20px;
  margin-top: 50px;
  color: darken($brand-primary, 50);
  background-color: lighten($brand-primary, 45);
  border-top: 1px solid lighten($brand-primary, 30);
}

.vtop {
  vertical-align: top!important;
}

.not-bold {
  font-weight: normal!important;
}

th.wider {
  min-width: 200px;
}

.extra-padding-bottom {
  padding-bottom: 20px;
}

.author__name {
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.btn__add-author {
    background-color: yellow;
    border: 1px solid black;
}

.drop-into-box__container {
    background-color: dodgerblue;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.drop-into-box__title {
    text-align: center;
    margin-bottom: 40px;
}

.library-item__is-selected {
    background-color: yellow;
}

.library-item__add-item-container {
    border-top: 1px solid lightgray;
    padding: 17px 0;
    &:hover {
        cursor: pointer;
        background-color: orange;
    }
}

.library-item__add-item {
    font-size: 18px;
}

.class {
    margin:20px;
    &:hover {
        color:yellow;
    }
}

.library-item__play-button {
    height:58px;
    margin-bottom: 13px;
    &:hover {
        cursor: pointer;
        color: orange;
    }
}
