@import 'bootstrap';
@import 'spinner';

body {
  padding-top: 20px;
}

html {
  overflow-y: scroll;
}

.library-item {
  min-height: 150px;
  text-align: center;
}

.label-fade {
  margin: 10px;
  opacity: 0;
  @include transition(all 0.5s);
  &.label-show {
    opacity: 1;
  }
}

.btn-narrow {
  padding-left: 10px;
  padding-right: 10px;
}

.page-footer {
  padding: 20px;
  margin-top: 50px;
  color: darken($brand-primary, 50);
  background-color: lighten($brand-primary, 45);
  border-top: 1px solid lighten($brand-primary, 30);
}

.vtop {
  vertical-align: top!important;
}

.not-bold {
  font-weight: normal!important;
}

th.wider {
  min-width: 200px;
}

.extra-padding-bottom {
  padding-bottom: 20px;
}

.author__name {
  &:hover {
    cursor: pointer;
    color: red;
  }
}

.btn__add-author {
    background-color: yellow;
    border: 1px solid black;
}

.drop-into-box__container {
    background-color: gray;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.drop-into-box__play-container {
  display: flex;
  justify-content: center;
  background-color: dodgerblue;
  padding: 10px 0;

  &:hover {
    cursor: pointer;
  }
}
.drop-into-box__title {
    text-align: center;
    margin-bottom: 40px;
}

.library-item__is-selected {
    background-color: yellow;
}

.library-item__add-item-container {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    border-top: 1px solid lightgray;
    padding: 17px 0;
    &:hover {
        cursor: pointer;
        background-color: orange;
    }
}

.library-item__add-item {
    font-size: 18px;
}

.class {
    margin:20px;

    &:hover {
        color:yellow;
    }
}

.library-item__play-button {
    height:58px;
    margin-bottom: 13px;
    &:hover {
        cursor: pointer;
        color: orange;
    }
}

.panel-body {
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover {
        cursor: pointer;
        background-color: gray;
        .play-button {
            display: block;
        }
    }
}

.library-item__container {
    &.col-md-4 {
        margin-top: 15px;
    }
    height: 198px;

}

.btn-filter {
    padding: 10px 5px;
}

.play-button {
    height: 45px;
    position: absolute;
    left: 34px;
    top: 30%;
    display: none;
    opacity: 0.3;
    -webkit-transition: display 200ms linear;
    -ms-transition: display 200ms linear;
    transition: display 200ms linear;
}

.play-button--drop-box {
  position: relative;
  display: flex;
  left: auto;
  top: auto;
}

.drop-into-box__wrapper {
  position: relative;
}

.export__container {
  top: 90px;
  position: absolute;
  left: calc(50% + 120px);
  font-size: 18px;
  border: 1px solid black;
  padding: 9px;
  &:hover {
      cursor: pointer;
  }
}
